/*Frequent requests*/

.frequent-requests{
	justify-content: center;
	text-align:center;
	margin:5% 13%;
}

.frequent-requests p{
	font-size:0.8rem;
}

.f-link{
	text-align: center;
	margin:0 auto;
	margin:2%;
	background-color:#A9A9A9;
	border-radius:5px;
	opacity:0.7;
}

.f-link:hover{
	opacity:1;
}

.f-link a {
	color:black;
	font-size:0.95rem;
}

.news-wrapper{
	margin:3% 0;
}

table{
	margin:2% 0;
	width:100%;
}

th, td {
	padding-bottom: 1%;
  border-bottom: 1px solid #DCDCDC;
}

.date{
	width:40%;
}




/*about*/
.about-wrapper{
	margin:6% 0;
}

.about-wrapper h2{
	border-bottom:1px solid #333333;
}

.about-images{
	text-align: center;
}

.about-images img{
	width:90%;
	opacity:0.8;
	margin:2%;
}

.about-text{
	width: 90%;
	margin:0 auto;
	padding-top:3%;
}

/*三つの特徴*/

.service-wrapper{
	margin-top:12%;
}

.service-title{
	border-bottom:1px solid #333333;
}

.title{
	text-align: center;
	margin-bottom:2%;
	border-bottom:1px solid #333333;
}

.service{
	width:100%;
	margin:5% 0;
	height:25vh;
	position:relative;
}

.service-img{
	text-align: center;
}

.service-img img{
	width:90%;
	opacity:0.8;
	margin:2%;
}

.services .menu{
	font-size:0.8rem;
	width:100%;
	position:absolute;
	background-color:#E6E6FA;
	padding:1%;
	top:23vh;
	left:0;
	color:black;
	opacity:0.7;
}

.services .menu:hover{
	opacity:1;
}

.service-text{
	width:90%;
	margin:5% auto;
}

/*footer*/

footer{
	background-color:gray;
	padding:1%;
	font-size:0.9rem;
}

.footer-nav a{
	color:white;
}
.footer-nav a:hover{
	color:black;
}


@media screen and (min-width: 850px) {
	.frequent-requests{
		z-index: 1;
	}

	.frequent-requests p{
	font-size:1rem;
}

.f-link{
	text-align: center;
	margin:0 auto;
	margin:2%;
	padding:1%;
	background-color:#A9A9A9;
	border-radius:5px;
	opacity:0.7;
}

	.about-images{
		width:40%;
		display:inline-box;
		float:left;
		position:relative;
		height:50vh;
	}

	.box{
		width:60%;
		height:35vh;
		background-color:#E6E6FA;
		position:absolute;
		top:6vh;
	}

	.about-images .image{
		position:absolute;
		top:23vh;
		width:95%;
		left:3%;
	}

	.about-text{
		display: inline-block;
		width: 45%;
		margin-left: 10%;
		padding-top:0;
	}


/*Service*/

	.service-header{
		position:relative;
	}
	.service-title{
		writing-mode: vertical-rl;
		 text-orientation: upright;
		 border:none;
		 height:40vh;
		 width:30%;
		 display:inline-block;
		 float:right;
		 position:absolute;
		 top:3vh;
		 left:60%;
	}

	.service-title h2{
		font-size:2rem;
	}

	.service-img{
		display:inline-block;
		text-align: left;

	}


	.service-img img{
		width:70%;
		opacity:0.8;
		margin:0;
	}

	.services{
		position:relative;
	}

	.service{
		height:28vh;
	}

	.title{
		border:none;
		width:100%;
		text-align:center;
	}

	.title h3{
		font-size:1.4rem;
		writing-mode: vertical-lr;
		text-orientation: upright;
		-webkit-text-orientation: upright;
		display:inline-block;
	}

	.right .title h3{
		float:left;
		width:30%;
		margin-left:20%;
	}

	.left .title h3{
		float:right;
		width:30%;
		margin-left:20%;
	}


	

	.services .right .menu{
		font-size:0.8rem;
		width:50%;
		position:absolute;
		top:22vh;
		left:50%;
		background-color:#E6E6FA;
		padding:1%;
		color:black;
		opacity:0.7;
	}

	.services .left .menu{
		font-size:0.8rem;
		width:50%;
		position:absolute;
		top:22vh;
		left:0;
		background-color:#E6E6FA;
		padding:1%;
		color:black;
		opacity:0.7;
	}

	.services .menu:hover{
		opacity:1;
	}

	.service-text{
		width:100%;
		padding-top:5%;
	}

	.footer-nav li{
		float:left;
		list-style: none;
		width:10%;
		display:inline-block;
	}

	footer p{
		clear:both;
		display:block;
		margin-top:3%;
	}

}